*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}
.container{
    width: 700px;
    height: 700px;
    margin-left:25%;
    margin-top:5%;
    position:relative;
}

.container h1{
    text-align: center;
    margin-bottom: 20px;
    color: #252525;
    text-transform: uppercase;
}
.navbar{
    display:flex;
}
.search{
    flex-grow:1;
    position: relative;
    font-size: 1rem;
    margin-right: 10px;
}
.search input{
    width: 100%;
    padding: 10px;
    border: 1px solid #6C63FF;
    border-radius: 5px;
    outline: none;
    color:#6C63FF;
}
.fa-search{
    position:absolute;
    right:10px;
    top: 25%;
    color: #6C63FF;
    cursor:pointer;
    font-size: 1.2rem;
}
.filter{
    width:80px;
    margin: 0 10px 0 10px;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    text-transform:uppercase;
    cursor: pointer;
    background-color: #6C63FF;
    color: white;
}
.filter option{
    color:#6C63FF;
    background-color: white;
    text-transform: capitalize;
}
option:hover{
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
}

.night{
    border:none;
    width: 40px;
    margin-left:10px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: #6C63FF;
    font-size:1.2rem;
}

.plus {
    outline: none;
    border: none;
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6C63FF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.plus .fa{
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 100;
}
.hover:hover{
    background-color: #3c359b;
}
.list{
    margin: 20px 15% 0 15%;
}
.list li{
    list-style: none;
    text-transform: uppercase;
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid rgba(37, 37, 37, 0.5);
}
li input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.5);
    cursor: pointer;
    background-color: #6C63FF;
}

li p{
    display: inline;
    flex-grow: 1;
    font-size: 1.2rem;
}
li .fa{
    margin:5px;
    cursor: pointer;
    color: rgba(37, 37, 37, 0.5);
    transition: color 0.3s ease,opacity 0.3s ease;
    opacity: 0;
}
li:hover .fa{
    opacity: 1;
    color: rgba(255,0,0,0.5);
}
body{
    position: relative;
}
.popup{
position: absolute;
top:100px;
left:470px;
visibility: hidden;
transition: visibility 0s, opacity 0.5s ease;
}
.add{
    width:500px;
    height:300px;
    padding:20px;
    border-radius:3%;
    border : 1px solid #6c63ff;
    background-color: #f5f5f5;
}
.add>h2{
    margin-bottom: 20px;
    text-align: center;
    color: #252525;
    text-transform: uppercase;
}
.add>input{
    width: 460px;
    height: 40px;
    padding: 8px 16px;
    margin-bottom: 150px;
    border: 1px solid #6c63ff;
    border-radius: 5px;
    outline: none;
}

.inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inner>button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #6C63FF;
    color: white;
    cursor: pointer;
}
.night-mode {
    background-color: #333333;
    color: #ffffff;
}
