*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
.logo{
    background-color:azure;
    color:rgb(21, 82, 62);
    border-radius:10px;
    padding:1em;
    text-align: center;
}
header{
    background-color: #333;
    color: white;
    padding: 1em;
    display:flex;
    justify-content: space-between;
    border-radius: 5px;
}
.container{
    width:100%;
    height:100%;
    background-color: aliceblue;
    padding: 1em;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;

}
.item{
    margin: 20px;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    flex-flow: column wrap;
}
.item img{
    width: 250px;
    height: 200px;
    border-radius: 5px;
}
.item .name{
    display:flex;

    justify-content: space-between;
    flex-flow: row nowrap;
}

.search{
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    text-align: center;
}
.search input{
    width: 100%;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
}
.contact{
   
    align-items: center;
    margin: 1em;
}